@charset "utf-8";
/* CSS Document */

.button_primary {
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0073ac;
    box-shadow: 1px 0px 3px 0px #000000;
    -webkit-box-shadow: 1px 0px 3px 0px #000000;
    -moz-box-shadow: 1px 0px 3px 0px #000000;
    border: solid #337fed 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.button_primary:hover {
    text-transform: uppercase;
    background: #006192;
    border: solid #006192 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
}

button.button_primary:disabled,
button.button_primary[disabled] {
    pointer-events: none;
    text-transform: uppercase;
    background: #00619270;
    border: solid #00619270 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
}

.compact_button {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 25px;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.naslov {
    color: #0073ac;
    font-size: 22px;
    font-weight: bold;
}

table.insert {
    table-layout: fixed;
    box-shadow: 2px 2px 1px 0px #81b3df6e;
    width: 100%;
    border: 1px solid #c0c0c0;
    padding: 1px;
    border-spacing: 2px;
    border-collapse: separate;
}

table th {
    text-transform: uppercase;
    background: rgba(11, 97, 164, 0.79);
    color: white;
}

table.data {
    box-shadow: 2px 2px 1px 0px #81b3df6e;
    width: 100%;
    border: 1px solid #c0c0c0;
    padding: 1px;
    border-spacing: 2px;
    border-collapse: separate;
}

table.data tr:nth-child(odd) {
    background: #cde4f582;
}

td.label {
    background: rgba(181, 212, 236, 0.31);
    padding: 1px;
}

td.label + td {
    padding-left: 2px;
}

body,
td,
th {
    font-size: 12px;
}

a:hover,
active,
visited {
    text-decoration: none !important;
    color: inherit !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.table_with_header {
    width: 100%;
    box-shadow: 2px 2px 1px 0px #81b3df6e;
    width: 100%;
    border: 1px solid #c0c0c0;
    padding: 1px;
    border-spacing: 2px;
    border-collapse: separate;
}

.table_with_header table {
    width: 100%;
    width: 100%;

    padding: 1px;
    border-spacing: 2px;
    border-collapse: separate;
}

.hide_scrollbars {
    overflow-y: auto;
    height: 392px;
    display: block;
    width: 100%;
    scrollbar-width: none;
}

.hide_scrollbars::-webkit-scrollbar {
    display: none;
}

input:not([type="checkbox"]),
select,
option {
    border: 1px solid rgba(60, 60, 60, 0.26);

    width: 200px;
    border-radius: 3px;
    min-height: 22px;
    box-shadow: none !important;
}

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    background: none;
    border: none;
}

input.small_input {
    width: 100px;
}
select.small_select {
    width: 150px;
}

select {
    -moz-appearance: none;

    -webkit-appearance: none;
}

select[disabled] {
    background: white;
}
